<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="conAddress" value="net.tcp://127.0.0.1:8888/CommunicationService" />
  </appSettings>
  <system.serviceModel>
    <services>
      <!--behaviorConfiguration的名称需要和behavior的name保持一致-->
      <service name="YidanSoft.Core.Communication.CommunicationService"  behaviorConfiguration="YidanSoft.Core.Communication.CommunicationServiceBehavior">
        <!--定义终节点-->
        <!--binding 绑定类型,NetTcpBinding、WSDualHttpBinding、WSHttpBindingBase、BasicHttpBinding、NetNamedPipeBinding、NetPeerTcpBinding、MsmqBindingBase、NetPeerTcpBinding、WebHttpBinding、MailBindingBase、CustomBinding-->
        <!--DuplexBinding 双工-->
        <!--使用契约：<命名空间>.<接口名称>-->
        <endpoint address=""
              binding="netTcpBinding"
              bindingConfiguration="DuplexBinding"
              contract="YidanSoft.Core.Communication.ICommunicationService" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior  name="YidanSoft.Core.Communication.CommunicationServiceBehavior">
          <!--会话最大数量-->
          <serviceThrottling maxConcurrentSessions="10000" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <netTcpBinding>
        <!--双工，超时设置-->
        <binding name="DuplexBinding" sendTimeout="00:00:01">
          <reliableSession enabled="true" />
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
</configuration>