<?xml version="1.0"?>
<configuration>
<startup>
  <dataConfiguration defaultDatabase="EMRDB">
    <providerMappings>
      <add databaseType="Microsoft.Practices.EnterpriseLibrary.Data.Sql.SqlDatabase, Microsoft.Practices.EnterpriseLibrary.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" name="System.Data.SqlClient"/>
    </providerMappings>
  </dataConfiguration>
  <connectionStrings>
    <add name="InitDB" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=127.0.0.1)(PORT=1521)))(CONNECT_DATA=(SERVICE_NAME=ORCL)));User Id=work;Password=orcl;" providerName="System.Data.OracleClient"/>
    <add name="EMRDB" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.2.13)(PORT=1521)))(CONNECT_DATA=(SERVICE_NAME=emr)));User Id=dba;Password=sa;" providerName="System.Data.OracleClient"/>
  </connectionStrings>
<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>  
</configuration>
