<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <httpRuntime requestPathInvalidCharacters=""/>
    <webServices>
      <protocols>
        <add name="HttpPost"/>
        <add name="HttpGet"/>
      </protocols>
    </webServices>
    <compilation targetFramework="4.0" debug="true"/>
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="WebService.asmx"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <connectionStrings>
    <add name="HISDB" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.83.133)(PORT=1521)))(CONNECT_DATA=(SERVICE_NAME=orcl)));User Id=emr;Password=emr;" providerName="System.Data.OracleClient"/>
    <add name="EMRDB" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.83.133)(PORT=1521)))(CONNECT_DATA=(SERVICE_NAME=orcl)));User Id=emr;Password=emr;" providerName="System.Data.OracleClient"/>
    <add name="EHRDB" connectionString="Database=PathWay;Server=42.51.202.133;user id=sa;password=445566Asd" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>