.floor
{
    position: absolute;
    background-color:white;
    border: 1px solid;
    overflow: auto;
    font-size:12px;
    text-align:left;
    z-index:100;
     
}
.unselected
{
    background-color: white;
}
.selected
{
    background-color: dodgerblue;
    color: white;
    font-size:12px;
    line-height:16px;
    
}
