<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Migrated rules for DoctorAdvice.ruleset" Description="已通过项目“D:\DrectSoft.NET\Emr2010\Core\医嘱编辑\DoctorAdvice\DoctorAdvice.csproj”中的“Debug (Any CPU)”配置的 CodeAnalysisRules 属性创建此规则集。" ToolsVersion="10.0">
  <IncludeAll Action="Warning" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1303" Action="None" />
    <Rule Id="CA2201" Action="None" />
    <Rule Id="CA2208" Action="None" />
  </Rules>
</RuleSet>